/* ログインフォームなどで行間を調整 */
.form-group {
    margin-bottom: 1.2rem;
}
 
/* ログインボタンなどの幅を広く */
.btn-block {
    width: 100%;
}
 
/* フラッシュメッセージ */
.flash_message {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffc;
    background: #417690;
}
.hidden {
    display: none;
}